<%- include('header') -%>
<%- include('menu') -%>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">My Awesome Car Dealership
        <small class="my-0 font-italic">browse from our cars</small>
    </h1>

    <!-- Car -->
    <div class="row">
        <div class="col-md-7">
            <a href="/shop/:carid">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../Images/Cars/teslax.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Tesla Model X</h3>
            <p>Mileage: 4356</p>
            <p>Price: €200000</p>
            <a class="btn btn-dark" href="/shop/:carid">View Car</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Car -->
    <div class="row">
        <div class="col-md-7">
            <a href="/shop/:carid">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../Images/Cars/lambo.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Labrorghini Aventador</h3>
            <p>Mileage: 23434</p>
            <p>Price : €150000</p>
            <a class="btn btn-dark" href="/shop/:carid">View Car</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Car -->
    <div class="row">
        <div class="col-md-7">
            <a href="/shop/:carid">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../Images/Cars/ferrari.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Ferrari 458</h3>
            <p>Mileage: 0</p>
            <p>Price: €349900</p>
            <a class="btn btn-dark" href="/shop/:carid">View Car</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Car -->
    <div class="row">
        <div class="col-md-7">
            <a href="/shop/:carid">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../Images/Cars/tesla3.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Tesla Model 3</h3>
            <p>Mileage: 2345</p>
            <p>Price: €50000</p>
            <a class="btn btn-dark" href="/shop/:carid">View Car</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Car -->
    <div class="row">
        <div class="col-md-7">
            <a href="/shop/:carid">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../Images/Cars/porsche.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Porsche 911</h3>
            <p>Mileage: 34566</p>
            <p>Price: €120000</p>
            <a class="btn btn-dark" href="/shop/:carid">View Car</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Car -->
    <div class="row">
        <div class="col-md-7">
            <a href="/shop/:carid">
                <img class="img-fluid rounded mb-3 mb-md-0" src="../Images/Cars/mercedes.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Mercedes-AMG GT C Roadster</h3>
            <p>Mileage: 3455</p>
            <p>Price: €200000</p>
            <a class="btn btn-dark" href="/shop/:carid">View Car</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

</div>
<!-- /.container -->
<%- include('footer') -%>
