<%- include('headerAdmin') -%>
<%- include('menuAdmin') -%>
<table class="table table-hover table-dark table-sm">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Model</th>
        <th scope="col">Mileage (km)</th>
        <th scope="col">Price (€)</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Tesla Model X</td>
        <td>4356</td>
        <td>200000</td>
        <td>
            <a href="/admin/editCar/:carid" style="text-decoration: none">
                <button class="button btn btn-sm btn-primary"><i class="fas fa-edit"></i></button>
            </a>
            <a>
                <button class="button btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<%- include('footer') -%>
