<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Order List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style>
        body {
            background: lightgrey;
        }

        table {
            table-layout: fixed;
        }

        h2 {
            color: rgb(60,60,60);
            margin-top: 50px;
        }

        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        th {
            text-align: left;
        }

        .button {
            margin-left: 5px;
            margin-right: 10px;
        }

        .user_card {
            height: 400px;
            width: 350px;
            margin-top: auto;
            margin-bottom: 100px;
            background: rgba(30, 30, 35, 0.95);
            position: relative;
            display: flex;
            justify-content: center;
            justify-items: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
        }

        .custom-file-input ~ .custom-file-label::after {
            width: available;
            content: "Choose file";
            display: flex;
        }

        .custom-form {
            display: flow;
            justify-items: center;
            margin-left: 35%;
            width: 30%;
        }

        .navbar-custom {
            background: rgba(30, 30, 35, 0.95);
        }

        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: rgba(255, 255, 255, .7);
            margin-left: 30px;
            margin-right: 30px;
        }

        .navbar-custom .navbar-nav .nav-link {
            color: rgba(255, 255, 255, .7);
        }

        .navbar-custom .nav-item.active .nav-link,
        .navbar-custom .nav-item:hover .nav-link {
            color: grey;
        }
    </style>

</head>
<body>
