<%- include('header') -%>
<div class="logo-box">
    <h1 class="display-4 font-weight-bold" style="color: white">
        <img style="border-radius: 100px"  width="100" height="100" src="../Images/logo.jpg">
        My Awesome Car Dealershipp
    </h1>
</div>
<div class="container h-auto">
    <div class="d-flex justify-content-center h-auto">
        <div class="user_card">
            <div class="d-flex justify-content-center">
            </div>
            <div class="d-flex justify-content-center form_container">
                <form>
                    <div class="d-flex justify-content-center" style="margin-bottom: 30px">
                        <h1 class="align-items-center" style="color: white">Login</h1>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" class="form-control input_user" value=""
                               placeholder="username">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="userPassword" id="pass" class="form-control input_pass"
                               placeholder="password">
                    </div>
                </form>
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
                <a href="/shop">
                    <button type="button" name="button" class="btn login_btn" style="color: white">Login</button>
                </a>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links" style="color: white">
                    Don't have an account? <a href="/user/signup" class="ml-2" style="color: darkblue">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a style="color: darkblue" href="/user/:userid/resetpass">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="input-group mb-auto w-auto h-auto">
            <div class="input-group-append h-auto w-auto">
                <span class="input-group-text"><i class="fas fa-user-cog"></i></span>
            </div>
            <input type="password" name="adminPassword" class="form-control input_pass" value="" placeholder="admin">
            <a href="/admin/carList">
                <button type="button" name="button" class="btn login_btn_admin" style="color: white">Login</button>
            </a>
        </div>
    </div>
</div>
<%- include('footer') -%>