<%- include('homeHeader') -%>
<h1 align="center" class="display-3" style="color: white; margin-top: 2%; margin-bottom: 5%; width: 100%; height: 5%">
    <img alt="" style="border-radius: 100px"  width="100" height="100" src="/images/logo.jpg">
    My Awesome Car Dealership
</h1>
<div class="container h-auto">
    <div class="d-flex justify-content-center h-auto">
        <div class="user_card">
            <div class="d-flex justify-content-center">
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="post">
                    <div class="d-flex justify-content-center" style="margin-bottom: 30px">
                        <h1 class="align-items-center" style="color: white">Login</h1>
                    </div>
                    <% if (typeof(error) !== 'undefined') { %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <label for="name"></label><input type="text" name="name" class="form-control input_user" id="name" value=""
                                                         placeholder="username">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <label for="password"></label><input type="password" name="password" id="password" class="form-control input_pass"
                                                             placeholder="password">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input type="submit" name="button" class="btn login_btn" id="Login" style="color: white; width: 75%" value="Login">
                    </div>
                </form>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links" style="color: white">
                    Don't have an account?<a href="/user/register" class="ml-2" style="color: lightblue">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a style="color: lightblue" href="/user/resetpass">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>