<%- include('headerAdmin') -%>
<%- include('menu') -%>

<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Mercedes-AMG GT C Roadster</h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="https://www.tynan.com.au/wp-content/uploads/2017/08/amg-gt-50-year-1-952x563.jpg" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Description</h3>
            <p>The best car ads are honest and include plenty of details and the right keywords. This is where you get to focus on your car's unique selling points and remember why you bought the car in the first place. To earn a buyer's trust and save time in the long run, include the good and the bad, including any accidents or problems. </p>
            <hr>
            <h3 class="my-3"> Details</h3>
            <ul>
                <li>Mileage: 3455 km</li>
                <li>Price: €200000</li>
            </ul>
            <hr>
            <a href="/shop" style="text-decoration: none"><button class="button btn btn-sm btn-danger d-inline justify-content-center" id="buy" style="width: auto; text-decoration: none">Buy</button></a>
            <a href="/shop" style="text-decoration: none"><button class="button btn btn-sm btn-outline-secondary d-inline justify-content-center" style="width: auto">Cancel</button></a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<%- include('footer') -%>