<nav class="navbar navbar-expand-sm navbar-custom">
    <a href="/shop" class="navbar-brand" style="color: lightgray">Home</a>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <a class="ml-auto navbar-text nav-link" href="/logout">Log out</a>
    </div>
</nav>