<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style>
        body {
            background: url("../images/resetPassBG.png") no-repeat center center fixed;
            align-content: center;
        }

        .reset-pass {
            display: flow;
            justify-content: center;
            margin-left: 25%;
            width: 50%;
            margin-top: 10%;
            color: black;
        }

        .button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="reset-pass justify-content-center">
    <h1>Forgot your password?</h1>
    <label class="w-auto">Enter your email address to reset your password</label>
    <input type="text" name="resetPass" id="text" class="form-control input_user" placeholder="email">
    <a href="/">
        <button type="button" name="button" class="button btn btn-info" style="color: white">Reset Password</button>
    </a>
</div>
</body>
</html>
<%- include('footer') -%>