<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <style>
        body {
            background: #000000;
            align-content: center;
            width: 100%;
        }

        .reset-pass {
            display: flow;
            justify-content: center;
            margin-left: 25%;
            width: 50%;
            margin-top: 10%;
            color: black;
        }

        .button {
            margin-top: 10px;
        }

        .login_btn {
            width: 100%;
            background: #3c3c3c;
        }

        .login_btn:focus {
            box-shadow: none;
            outline: 0;
        }

        .custom-card{
            border-radius: 15px;
            margin-left: 20%;
            margin-right: 20%;
            width: 60%;
            height: 50%;
            padding: 10%;
            display: flex;
            justify-content: center;
            align-content: center;
        }
    </style>
</head>
<body>
<div class="reset-pass justify-content-center">
    <div class="card custom-card">
    <h1>Forgot your password?</h1>
    <label for="text" class="w-auto">Enter your email address to reset your password</label>
    <input type="text" name="resetPass" id="text" class="form-control input_user w-auto" placeholder="email">
    <a href="/" style="text-decoration: none">
        <button type="button" name="button" class="btn-group button btn btn-dark login_btn d-inline w-auto" id="reset" style="color: white; display: inline">Reset Password</button>
    </a>
    <a href="/" style="text-decoration: none">
        <button type="button" name="button" class="btn-group button btn btn-outline-secondary d-inline w-auto" style="color: black; display: inline">Cancel</button>
    </a>
    </div>
</div>
</body>
</html>
<%- include('footer') -%>