<%- include('homeHeader') -%>
<%- include('signupHeader') -%>
<div class="container d-flex justify-content-center" style="padding: 0">
    <div class="custom-card">
        <table>
            <tbody>
            <tr>
                <td>
                    <img class="custom-img" src="/images/signUp.jpg" alt="signUpPic">
                </td>
                <td>
                    <div class="card-body">
                        <h1 style="margin-right: 400px"></h1>
                        <form method="post">
                            <div class="d-flex justify-content-center right">
                                <h1 class="align-items-center" style="color: white">Sign Up</h1>
                            </div>
                            <hr>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="email" class="form-control input_user" id="email" value=""
                                       placeholder="email">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" name="username" class="form-control input_user" id="username" value=""
                                       placeholder="username">
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password" name="password" id="password" class="form-control input_pass"
                                       placeholder="password">
                            </div>
                            <div class="d-flex justify-content-center mt-3 login_container">
                                <a href="/">
                                    <button type="button" name="button" class="btn login_btn" id="signUp" style="color: white">Sign Up</button>
                                </a>
                                <a href="/" style="padding-left: 10px">
                                    <button type="button" name="button" class="btn btn-outline-secondary" style="color: white">Cancel</button>
                                </a>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<%- include('footer') -%>